* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

header {
    display: flex;
    flex: wrap;
    justify-content: space-between;
}

header button {
    margin: 2%;
    width: 150px;
    background: white;
    text-align: center;
    padding: 9px 0;
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold;
}

header button a {
    text-decoration: none;
    color: black;
}

header h3 {
    margin: 3%;
}

main {
    margin: 7%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.head-text {
    padding-bottom: 22px;
}

.informative-text {
    padding-bottom: 22px;
}

.btn {
outline: none;
  display: inline-block;
  padding: 10px 15px;
  background: purple;
  font-size: 22px;
  border-radius: 12px;
  position: relative;
  margin: 1px;
}

.btn a {
    text-decoration: none;
    color: black;
}

